{% extends "wrapper.html" %}
{% load staticfiles %}
{% block content %}
<img src="{% static '/image/foto.png' %}" align="left" width="220" height="200" />
<h1>Кравец Иван Сергеевич</h1>
<h2> Мужчина, 25 лет, родился 18 октября 1994</h2>
<h2>+7 (999) 7867061 — предпочитаемый способ связи
    <br>
kravetsis@yandex.ru</h2>
<br>
<h2 style="margin-left:220px">Проживает: Санкт-Петербург, м. Парнас
    <br>
Гражданство: Россия, есть разрешение на работу: Россия
    <br>
Не готов к переезду, готов к командировкам</h2>
<br>
<h3>Желаемая должность и зарплата<hr></h3>
<h1 style="font-size: 40px">DevOps trainee</h1>
<h2>Информационные технологии, интернет, телеком</h2>
<ul style="font-family: TimesNewRoman; font-size: 20px">
    <li>Программирование, Разработка</li>
    <li>Системная интеграция</li>
    <li>Инженер</li>
</ul>
<h2>Занятость: полная занятость
    <br>
График работы: полный день
    <br>
Желательное время в пути до работы: не имеет значения</h2>
<p style="position: absolute; bottom:5%">
        <a href="/" class="btn btn-success btn-lg">Главная страница</a>
        <a href="/first_exp" class="btn btn-primary btn-lg">Опыт работы</a>
        <a href="/education" class="btn btn-secondary btn-lg">Образование</a>
        <a href="/skills" class="btn btn-info btn-lg">Ключевые навыки</a>
</p>
{% endblock %}