{% extends "wrapper.html" %}
{% load staticfiles %}
{% block content %}
        <h3>Опыт работы<hr></h3>

<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top" width="200"><p style="width: 175px; font-size: 20px; color:#C0C0C0">Октябрь 2016 — <br> Июнь 2017 <br> 9 месяцев</p></td>
<td valign="top"><h1 style="font-size: 40px">Силовые машины, Управляющая компания</h1>
    <h3 style="font-size: 25px">Россия, <a href="http://www.power-m.ru/" target="_blank">power-m.ru</a></h3>
    <h2>Практикант бюро конструкций преобразовательной техники</h2>
    <p>РОформление конструкторской документации, 3d-моделирование в SolidWorks. Разработка деталей из
листового металла, элементов креплений, токопроводящих шин, систем охлаждения и вентиляции для
шкафов управления электроприводом экскаваторов типа ЭШ и ЭКГ.</p>
</td>
</tr>
</table>

<h2></h2>
      <p>
        <a href="/" class="btn btn-success btn-lg">Главная страница</a>
        <a href="/first_exp" class="btn btn-primary btn-lg">&laquo; Предыдущая страница</a>
        <a href="/third_exp" class="btn btn-primary btn-lg">Следующая страница &raquo;</a>
      </p>
{% endblock %}