{% extends "wrapper.html" %}
{% load staticfiles %}
{% block content %}
        <h3>Ключевые навыки<hr></h3>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top" width="200"><p style="width: 175px; font-size: 20px; color:#C0C0C0">Знание языков</p></td>
<td valign="top"><h2>Русский — Родной <br>
Английский — B1 — Средний</h2>
</td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top" width="200"><p style="width: 175px; font-size: 20px; color:#C0C0C0">Навыки</p></td>
    <td valign="top"><h2 style="background-color: #C0C0C0; display:inline-block">Python</h2> <h2 style="display:inline-block">&nbsp;</h2>
        <h2 style="background-color: #C0C0C0; display:inline-block">Linux</h2> <h2 style="display:inline-block">&nbsp;</h2> <h2 style="background-color: #C0C0C0; display:inline-block">Git Bash</h2>
</td>
</tr>
</table>
<br><br>
<h3>Опыт вождения<hr></h3>
<h2>Права категории B</h2>
<br><br>
<h3>Дополнительная информация<hr></h3>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top" width="200"><p style="width: 175px; font-size: 20px; color:#C0C0C0">Обо мне</p></td>
<td valign="top"><h2>Готовность развиваться в профессиональном плане‚ приобретать новые навыки, обучаемость‚
    ответственность‚ целеустремленность.</h2>
</td>
</tr>
</table>
<br><br>
      <p style="position: absolute; bottom:5%">
        <a href="/" class="btn btn-success btn-lg">Главная страница</a>
      </p>
{% endblock %}