<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
         .jumbotron {
            height: 100vh;
            margin: 0;
            padding: 0;
            background-color: #e9ecef;
                   }
     </style>
  <title>Ivan's summary</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
</head>
<body>
  <div class="jumbotron">
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
  </div>
  </body>
</html>